
body{
    width: 100%;
    margin: 0 auto;
}
.nav{
    width: 60%;
    margin: 0 auto;
}
.nav-menu{
    margin: 1em;
}
.jumbotron{
    background: url("/img/background.png") no-repeat;
    height: auto;
    color: white;
    background-size: cover;
 }
.jumbotron h1{
    font-size: 70px;
    margin: 0;
    padding: 0 0 .3em 0;
}
.jumbotron p{
    font-size: 20px;
}
.jumbotron-description{
    width: 60%;
    margin: 0 auto;
    padding: 6.5em 0;
}

.prefixed-width{
    width: 60%;
    margin: 0 auto 6rem;
}
.slider {
    position: relative;
    display: flex;
    flex-direction: row;
    width: auto;
}
.slider span{
    width: 100%;
    border: 1px solid;
    margin: 2px 1px;
    color: var(--slider-secondary-color);
}
.slider span:nth-child(3){
    color: var(--primary-color);
}
section h2 {
    text-align: center;
    margin-bottom: 1.5em;
    margin-top: 1.5em;
    font-size: 32px;
}
section h3 {
    font-size: 24px;
}
section hr{
    width: 80%;
    margin: 0 auto 1.5em;
}
.part-one > div{
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
}
.part-one-child > p{
    font-size: 14px;
    border-left: 4px solid lightgray;
    padding-left: 1.5em;
    text-align: justify;
    color: var(--gray);
    font-family: "Open Sans", sans-serif !important;
    border-radius: 3px;
}
.part-one-child{
    margin-right: 3em;
}

.d-flex-row-1gap{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

.w-25{
    width: 25%;
}
.w-25 svg{
    fill: var(--primary-color);
    border-radius: 2px;
}





